@charset "utf-8";

.col_access {
width: calc(100% - 16px);
margin: 0 auto;
}



.staff img {
  max-width: 540px;
  width: 100%;
  height: auto;
}

.access {

  dt,
  dd {
    font-size: 14px;
    line-height: 2;
  }

}

dl {
  margin: 32px auto;
}

#gmap iframe {
  max-width: 540px;
  width: 100%;
}