@charset "utf-8";

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  color: #000;
  text-align: center;
  align-items: center;
  vertical-align: bottom;
}

body {
  min-width: 500px;
}

header {
  background: url(bg_header.jpg);
}

main {
  background: url(bg_local.jpg);
}

footer {
  background: url(bg_local_footer.jpg);
}