@charset "utf-8"

.IrxBzb,
.IrxBzb:focus,
.IrxBzb:visited {
  color: inherit;
  display: block;
  fill: inherit;
  outline: none;
  stroke: inherit;
  text-decoration: none
}

.uArJ5e.u3bW4e {
  outline: 1px solid transparent
}

.Y5FYJe {
  user-select: none;
  transition: background .3s;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  height: 48px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  width: 48px;
  z-index: 0
}

.Y5FYJe>.TpQm9d {
  display: flex;
  height: 48px;
  width: 48px
}

.Y5FYJe.j7nIZb,
.Y5FYJe.qs41qe,
.Y5FYJe.u3bW4e {
  -webkit-transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 0)
}

.L23pJb {
  overflow: visible
}

.L23pJb.j7nIZb,
.L23pJb.qs41qe,
.L23pJb.u3bW4e {
  -webkit-mask-image: none
}

.Y5FYJe:hover {
  background-color: rgba(95, 99, 104, .04)
}

.Y5FYJe.RDPZE:hover {
  background-color: transparent
}

.VsxsTb:hover {
  background-color: rgba(232, 234, 237, .04)
}

.OZ6W0d:hover {
  background-color: rgba(66, 133, 244, .04)
}

.cjq2Db {
  color: rgb(95, 99, 104);
  fill: rgb(95, 99, 104)
}

.VsxsTb {
  color: rgb(232, 234, 237);
  fill: rgb(232, 234, 237)
}

.OZ6W0d {
  color: rgb(26, 115, 232);
  fill: rgb(26, 115, 232)
}

.cjq2Db.u3bW4e {
  background-color: rgba(95, 99, 104, .12)
}

.cjq2Db.u3bW4e:hover {
  background-color: rgba(95, 99, 104, .155)
}

.VsxsTb.u3bW4e {
  background-color: rgba(232, 234, 237, .12)
}

.VsxsTb.u3bW4e:hover {
  background-color: rgba(232, 234, 237, .155)
}

.OZ6W0d.u3bW4e {
  background-color: rgba(66, 133, 244, .12)
}

.OZ6W0d.u3bW4e:hover {
  background-color: rgba(66, 133, 244, .155)
}

.L23pJb.u3bW4e {
  background-color: transparent
}

.PDXc1b {
  transform: translate(-50%, -50%) scale(0);
  transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
  background-size: cover;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden
}

.L23pJb.u3bW4e .PDXc1b {
  animation: quantumWizIconFocusPulse .7s infinite alternate;
  height: 100%;
  left: 50%;
  top: 50%;
  width: 100%;
  visibility: visible
}

.Y5FYJe.qs41qe .PDXc1b {
  transform: translate(-50%, -50%) scale(2.2);
  opacity: 1;
  visibility: visible
}

.Y5FYJe.qs41qe.M9Bg4d .PDXc1b {
  transition: transform .3s cubic-bezier(0, 0, .2, 1), opacity .2s cubic-bezier(0, 0, .2, 1)
}

.Y5FYJe.j7nIZb .PDXc1b {
  transform: translate(-50%, -50%) scale(2.2);
  visibility: visible
}

.cjq2Db .PDXc1b {
  background-image: radial-gradient(circle farthest-side, rgba(95, 99, 104, .16), rgba(95, 99, 104, .16) 80%, transparent 100%)
}

.VsxsTb .PDXc1b {
  background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, .16), rgba(255, 255, 255, .16) 80%, transparent 100%)
}

.OZ6W0d .PDXc1b {
  background-image: radial-gradient(circle farthest-side, rgba(66, 133, 244, .16), rgba(66, 133, 244, .16) 80%, transparent 100%)
}

.Y5FYJe.RDPZE {
  color: rgb(154, 160, 166);
  fill: rgb(154, 160, 166);
  cursor: default
}

.VsxsTb.RDPZE {
  color: rgba(255, 255, 255, .38);
  fill: rgba(255, 255, 255, .38)
}

.XuQwKc {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%
}

.GmuOkf {
  display: flex;
  position: relative
}

.u1KZub {
  background-color: rgb(32, 33, 36);
  bottom: 0;
  box-sizing: border-box;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  color: rgb(232, 234, 237);
  display: flex;
  flex-direction: column;
  font-size: .875rem;
  left: 0;
  min-height: 48px;
  position: fixed;
  right: 0;
  transform: translateY(100%);
  visibility: hidden;
  z-index: 99999
}

.YrbPvc {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  min-height: inherit;
  padding: 0
}

.pXn1rb {
  line-height: 0
}

.w3FaXb {
  height: 36px;
  margin-right: 6px;
  width: 36px
}

.VYTiVb {
  flex-grow: 1;
  flex-shrink: 1;
  line-height: normal;
  overflow: hidden;
  padding: 14px 16px;
  text-overflow: ellipsis;
  word-break: break-word
}

.IAjCAb {
  align-self: center;
  color: #6ba5ed;
  padding: 0 8px;
  flex-grow: 0;
  flex-shrink: 0;
  float: right;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition: background .3s;
  font-family: Google Sans, Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none
}

.IAjCAb:focus,
.IAjCAb:hover {
  background-color: rgba(107, 165, 237, .15);
  border-radius: 4px
}

.YaOh0 {
  background-color: rgb(66, 133, 244)
}

.nEwe6b {
  transform: translate(0)
}

@media screen and (min-width:481px) {
  .u1KZub {
    min-width: 288px;
    max-width: 568px;
    border-radius: 4px
  }

  .FPvg4 {
    left: 24px;
    margin-right: 24px;
    right: auto
  }

  .VUvTof {
    left: 50%;
    right: auto;
    transform: translate(-50%, 100%)
  }

  .FPvg4.nEwe6b {
    bottom: 24px
  }

  .VUvTof.nEwe6b {
    bottom: 0;
    transform: translate(-50%)
  }

  .YrbPvc {
    padding: 0
  }
}

@media screen and (max-width:480px) {

  .JL6eS .IAjCAb,
  .JL6eS .VYTiVb {
    padding-bottom: 24px;
    padding-top: 24px
  }
}

@media screen and (min-width:481px) and (max-width:568px) {
  .u1KZub {
    max-width: 90%
  }
}

@media screen and (min-width:569px) {
  .u1KZub {
    max-width: 568px
  }
}

.qSNtwe {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--gm3-sys-color-inverse-surface);
  color: var(--gm3-sys-color-inverse-on-surface)
}

@media (forced-colors:active) {
  .qSNtwe {
    border: 1px solid CanvasText
  }
}

.qSNtwe .VYTiVb {
  font-variant-ligatures: no-contextual;
  font-feature-settings: "liga" 0;
  line-height: 20px;
  word-break: normal
}

.qSNtwe .w3FaXb {
  color: var(--gm3-sys-color-inverse-on-surface)
}

.m72qAd {
  color: var(--gm3-sys-color-inverse-primary);
  line-height: 20px;
  margin-left: auto
}

@media (forced-colors:active) {
  .m72qAd {
    color: LinkText
  }
}

.qSNtwe.JL6eS .VYTiVb {
  padding-bottom: 16px;
  padding-top: 16px
}

@media print {
  .qSNtwe {
    display: none
  }
}

sentinel {}