@charset "utf-8";

.burger,
.spnavi {
  display: none !important;
}

@media(width<=782px) {

  header {

    .pcnavi {
      display: none !important;
    }

  }



  /* ボタンの基本スタイル */
  .burger {
    display: block !important;
    position: fixed;
    right: 0px;
    top: 20px;
    z-index: 100;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(burger.svg);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 0 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 450ms;

  }



  /* ボタンがアクティブになった時（3本線から×印に変形） */
  .burger.is-active {
    background-image: url(close.svg);
  }



  /* ナビゲーションの初期状態（画面外に隠す） */
  .spnavi {
    display: block !important;
    margin: 0 !important;
    position: fixed;
    /* top: 0; */
    bottom: -128px;
    /* 右側に完全に隠す */
    width: 100%;
    height: 100vh;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    transition: 0.6s ease;
    /* スライドのアニメーション */
    z-index: 90;
    opacity: 0;

    ul {
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
    }

  }

  .spnavi a:nth-of-type {
    transition-delay: 100ms;
  }

  .spnavi a:nth-of-type(3) {
    transition-delay: 200ms;
  }

  .spnavi a:nth-of-type(4) {
    transition-delay: 300ms;
  }

  .spnavi a:nth-of-type(5) {
    transition-delay: 400ms;
  }

  .spnavi a:nth-of-type(6) {
    transition-delay: 500ms;
  }

  /* メニューが開いた時 */
  .spnavi.is-active {
    bottom: 0;
    /* 画面内にぴったり収める */
    opacity: 1;
  }
}