@charset "utf-8";

header {
  padding: 24px 8px 0;
  min-height: 80px;

  .header_info {
    margin: 0 auto;
    display: flex;
    max-width: 1500px;

    h1 {
      margin: 24px 0;
    }

    nav {
      margin: 24px 0 0 8px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-self: start;

      a {

        :hover {
          background: #ffdd00;
          border-radius: 8px;
        }

      }

    }
  }

}

.schedule,
.instagram_bnr,
.baumkuchen,
.index_contents01 {
  width: calc(100% - 16px);
  margin: 0 auto;
}

.payment,
.time {
  width: calc(100% - 24px);
  margin: 0 auto;
}

.local_contents_deco>h2,
.local_contents01>h2,
.local_contents03>h2,
.local_contents_long>h2 {

  img {
    object-fit: cover;
    max-width: 695px;
    width: 100%;
    height: 63px;
  }

}



main {
  margin: 0 auto;
  padding: 8px 0 16px;

  #slider {
    margin: 0 auto 16px;

    img {
      max-width: 1186px;
      width: 100%;
      height: auto;
    }

  }

  .schedule,
  .instagram_bnr>a,
  .baumkuchen {

    img {
      max-width: 1100px;
      width: 100%;
      height: auto;
    }

  }

  .payment {
    max-width: 1000px;
    background: #fff;
    border: 4px solid #e70012;
    margin: 16px auto;
    padding: 0 0 16px;

    h3 {
      background: #e70012;
      color: #fff;
      padding: 16px 0;
      font-size: 40px;
    }

    p {
      margin: 8px 0;
      font-size: 20px;

      span {
        font-size: 20px;
        color: #e70012;
      }

    }

    .paypay {
      display: flex;
      justify-content: center;
      margin: 8px 0;

      p {
        font-size: 40px;

        span {
          font-size: 40px;
        }

      }

      .index_contents01 {
        margin: 8px 0;
      }

    }



  }

  .time {
    max-width: 1000px;
    background: #fff;
    border: 4px solid #e70012;
    margin: 16px auto;
    padding: 0 0 16px;

    h3 {
      background: #e70012;
      color: #fff;
      padding: 16px 0;
      font-size: 40px;
    }

    table {
      margin: 16px auto;

      tr {
        margin: 16px;

        th,
        td>p,
        td {
          vertical-align: top;
          font-size: 40px;
          margin: 0;
          padding: 4px;
          letter-spacing: 4px;

          span {
            font-size: 24px;
          }



        }

      }

    }

    p {
      margin: 16px 0;
      letter-spacing: 4px;
      font-size: 20px;
    }

  }

  .instagram>h2 {

    img {
      object-fit: cover;
      max-width: 1100px;
      width: 100%;
      height: 100px;
    }

  }

  .index_contents01 {
    margin: 16px auto 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: first baseline;

    .sweets {
      margin: 16px auto 0;
      display: flex;
      gap: 16px;
      justify-content: center;

      .sweets_entremets,
      .sweets_gateau {
        margin: 0 0 16px;
      }

    }

    .news {
      margin: 0 !important;
      padding: 0;
    }

  }




  .info {
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
    /* min-width: 533px; */
    height: 100%;

    h2 {

      img {
        object-fit: cover;
        object-position: left;
        max-width: 540px;
        width: 100%;
        height: 75px;
        min-width: 320px;
      }
    }


    iframe {
      max-width: 1100px;
      width: calc(100% - 16px);
      min-width: 320px;
      height: 100%;
      aspect-ratio: 11 / 7;
      min-height: 336px;
    }

  }

}


footer {
  padding: 48px 8px 24px;

  .footer_cnt {
    min-width: 320px;
    margin: 16px 0 8px;
    display: flex;
    justify-content: center;
    gap: 16px;

    .logo {
      margin: 32px 0;
    }

    p {
      color: #fff8f3;
    }

    .adress {
      display: flex;
      gap: 16px;
    }

    .maillink {
      border: 1px solid #fafafa;
      background: #600;
      margin: 0 auto;
      max-width: 320px;
      padding: 4px 2px;

      a {
        color: #fff8f3;
        font-size: 12px;
      }
    }
  }

  small {
    font-size: 12px;
    color: #fff8f3;
  }
}

