@charset "utf-8";

main {
  padding: 0;
}

.wrap_contents {
  padding: 32px 0;
}

.local_contents01,
.local_contents03,
.local_contents_deco {
  margin: 0 auto;
  padding: 32px 8px;
  max-width: 968px;
  background-repeat: no-repeat !important;
  background-position-x: center !important;

  dt {

    img {
      max-width: 550px;
      width: 100%;
      height: auto;
    }

  }

}

.itemname {
  margin: 16px auto;
  font-size: 16px;
  font-weight: bold;
}

.description {
  margin: 16px auto;
  font-size: 12px;
}

.local_contents_deco {
  background: url(bg_contents_local_deco.png);
  min-height: 1730px;
}

.local_contents01 {
  background: url(bg_contents_local01.png);
}

.local_contents03 {
  background: url(bg_contents_local03.png);
  min-height: 1030px;

  p {

    img {
      max-width: 895px;
      width: 100%;
      height: auto;
    }

  }

}

.select_sweets {
  margin: 16px 0 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.thumnail {
  width: 364px;
}



.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 16px;
  margin: 0 16px;
}

.deco {
  max-width: 900px;
  margin: 16px auto;

  img {
    width: 100%;
    height: auto;
  }

}

@media(width<=944px) {

  .select_sweets {
    display: block;
  }

  .thumnail {
    margin: 0 auto;
  }

  dl {
    margin: 96px auto 160px;
  }

}